<div class="instructionHeader">
	<h1 class="instructionHeaderContent">{{title}}</h1>
</div>
<div class="instructionBody">
	<div class="instructionBodyContent">
		<p class="white-space-pre-line">{{subMainContent}}</p>
		<ul>
			<li *ngFor=" let chunk of instructionList">{{chunk.instructionData}}</li>
		</ul>
	</div>
	<div>
		<p class="permissionBlock">
			To capture records we would need permissions of your camera and gallery. </p>
		<button class="customButton" (click)="gotoUpload();">Let&#x2019;s Get Started</button>
	</div>
</div>