<div class="splashScreen">
    <div class="splashDigitLogo">
        <img width='156' class='align' src='https://d2h44aw7l5xdvz.cloudfront.net/digitEdgeAssets/digitedgesplash.svg' alt='DigitEdge'>
    </div>
</div>
<div class="container" *ngIf="isDesktop">
    <section>
        <div class='col-12 card'>
            <p>Oops, you need to click this link from your mobile as we would need your camera to click some pictures. Let us
                know if you get stuck anywhere. Call us on our toll-free number 1&#8209;800&#8209;300&#8209;34448
            </p>
        </div>
    </section>
</div>
<div class="container" *ngIf="isValid">
    <section>
        <div class='col-12 card'>
            <p>Sorry this LINK is not valid anymore.</p>
        </div>
    </section>
</div>
<div class="container" *ngIf="isdata">
    <section>
        <div class='col-12 card'>
            <p>Something went wrong,Please try again</p>
        </div>
    </section>
</div>