<div class="successContainer">
    <div class="successContainerContent">
        <h4>
            Super!
        </h4>
        <p>We will come back to you for next steps. For any assistance, you may call us at 1800-258-5956</p>
    </div>
    <div>
        <img src="https://d2h44aw7l5xdvz.cloudfront.net/assets/img/hands-in-air-celebrate.svg" alt="">
    </div>
</div>