<!-- <header *ngIf="_sessionService.isHeader">
    <nav class="navbar container">
        <a href="/"><img alt="DigitEdge" class="brand" src="https://d2h44aw7l5xdvz.cloudfront.net/digitEdgeAssets/digitedge.svg"
		width="156" /></a>
    </nav>
</header> -->
<router-outlet>
    <span *ngIf="showLoader" class="customLoader">
        <img src="https://d2h44aw7l5xdvz.cloudfront.net/digitEdgeAssets/loading.svg" width="70" height="70">
    </span>
</router-outlet>