<div *ngIf="!savePage" class="instructionHeader">
  <h1 class="instructionHeaderContent">Lets capture your medical records </h1>
</div>
<div *ngIf="!savePage && !afterSaveClick" class="portraitViewPage">
  <div>
    <span (click)="setButtonClicked = 'First'" data-toggle="modal" data-target="#resendEmailPolicySchedule" data-backdrop="static"
      for="uploadDocument" class="btn captureText">+ Add Documents</span>
    <p style="color: #999999">Capture Medical Documents</p>
  </div>
</div>
<div style="height: 80%;" *ngIf="!savePage && afterSaveClick">
  <div *ngFor="let collection of uploadedImageCollection" class="col-12 mainImageDiv" style="display: flex;align-items: stretch;">
    <div class="thumbnailImageDiv" style="flex-grow: 1">
      <img class="thumbnailImage" src="">
    </div>
    <div style="flex-grow: 8">
      <span class="imageName">{{collection.name}}</span>
      <span class="imageSize">{{collection.noOfImages}} image uploaded</span>
    </div>
    <div style="flex-grow: 1; padding-top: 20px">
      <span (click)="forAnotherUpload(collection)">
        <i class="material-icons">
          keyboard_arrow_right
        </i>
      </span>
    </div>
  </div>
  <div class="col-12">
    <span (click)="setButtonClicked = 'Next'" data-toggle="modal" data-target="#resendEmailPolicySchedule" data-backdrop="static"
      for="uploadDocument" class="btn captureText">+ Add Another Record</span>
  </div>
  <div class="col-12">
    <button type="submit" class="customButton" (click)="goToSuccess()">Done</button>
  </div>
</div>
<div *ngIf="savePage" class="col-12 imageCaptureDiv">
  <div class="thumbnailImageDiv thumbnailImageDivHeightWidth col-3" style="background-color: #fff;border-style: dashed;">
    <label for="uploadDocument" class="btn captureText" style="font-size: 10px;">+ Add More Pages</label>
    <input type="file" id="uploadDocument" name="file" accept="image/*" capture="camera" (change)="onDocumentChange($event.target,'First')"
      hidden/>
  </div>
  <div *ngFor="let progress of progressArray" class="thumbnailImageDiv thumbnailImageDivHeightWidth col-3">
    <img class="thumbnailImage" src="{{progress.url}}">
  </div>
</div>
<div *ngIf="savePage" class="col-12">
  <div class="col-12">
    <label for="recordName">Record Name</label>
    <input id="recordName" type="text" placeholder="Name of the Record" [(ngModel)]="recordName">
  </div>
  <div class="col-12">
    <label>Type Of Record</label>
    <input id="toggle-hospitalRecord" name="typeOfRecord" type="radio">
    <label for="toggle-hospitalRecord" class="customRadio">Hospital records</label>
    <input id="toggle-consultation" name="typeOfRecord" type="radio">
    <label for="toggle-consultation" class="customRadio">Consultation</label>
    <input id="toggle-testReport" name="typeOfRecord" type="radio">
    <label for="toggle-testReport" class="customRadio">Test reports</label>
    <input id="toggle-others" name="typeOfRecord" type="radio">
    <label for="toggle-others" class="customRadio">Others</label>
  </div>
  <div class="col-12">
    <button class="customButton" type="submit" [disabled]="!recordName || finalUploadArray.length == 0" (click)="uploadDocument()">Save</button>
  </div>
</div>
<div class="modal fade" id="resendEmailPolicySchedule" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content modalContent">
      <div class="modal-header borderBottom">
        <h3 class="h6 fw-700" style="padding: 15px;">Add Physical Copy
          <span class="close" data-dismiss="modal" aria-hidden="true">&times;</span>
        </h3>
      </div>
      <div class="modal-body">
        <div class="borderBottom">
          <label for="uploadFromCamera" class="btn modalText">
            <i class="material-icons">
              camera_alt
            </i>&nbsp;&nbsp;Take a photo of the document</label>
          <input type="file" id="uploadFromCamera" name="file" accept="image/*" capture="camera" (change)="onDocumentChange($event.target,setButtonClicked)"
            hidden/>
        </div>
        <div class="borderBottom">
          <label for="uploadFromGallery" class="btn modalText">
            <i class="material-icons">
              attach_file
            </i>&nbsp;&nbsp;Attach Documents</label>
          <input type="file" id="uploadFromGallery" name="file" accept="image/*" (change)="onDocumentChange($event.target,setButtonClicked)"
            multiple hidden/>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>