.splashScreen {
    background: -webkit-linear-gradient(#4A4A4A, #000000);
    background: -o-linear-gradient(#4A4A4A, #000000);
    background: -moz-linear-gradient(#4A4A4A, #000000);
    background: linear-gradient(#4A4A4A, #000000);
    right: 0;
    position: fixed;
    /*min-height: 
    min-width: */
}

.splashDigitLogo {
    padding-top: 10px;
}

.splashArrowLogo {
    min-height: 120px;
    padding-top: 170px;
}