html,body{
    height: 100%;
}
.splashScreen {
    background: -webkit-linear-gradient(#4A4A4A, #000000);
    background: -o-linear-gradient(#4A4A4A, #000000);
    background: -moz-linear-gradient(#4A4A4A, #000000);
    background: linear-gradient(#4A4A4A, #000000);
    min-height: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p.white-space-pre-line {
    white-space: pre-line;
}

.hideNumber input[type=number] {
    -webkit-text-security: disc;
}

.text-danger {
    color: #FFAA00;
}

.mainImageDiv {
    border: 2px solid #f5f5f5;
}

.thumbnailImage {
    width: 100%;
    height: 100%;
}

.progressStatus {
    text-align: center;
}

.imageName {
    text-align: center;
    color: #444444;
    font-family: Muli;
    font-size: 16px;
    font-weight: 700;
    line-height: 17px;
    display: flex;
    padding-top: 14px;
    padding-left: 10px;
}

.progressHeading {
    border: 2px solid #f5f5f5;
    text-align: center;
    background: #f5f5f5;
    font-size: 20px;
    font-weight: 800;
}

.thumbnailImageDiv {
    width: 60px;
    height: 60px;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    text-align: center;
    align-items: center;
    display: flex;
    margin: 1%;
    padding: 0% !important;
}
.thumbnailImageDivHeightWidth{
    width: 31%;
    height: 25%;
}
.imageSize {
    text-align: center;
    color: #999999;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    padding-left: 10px;
}

.percentStyle {
    color: #Fb0;
    font-size: 12px;
    text-align: left;
}
.myProgress {
    width: 48%;
    height: 5px;
    background-color: #ddd;
    float: right;
    margin-top: 5%;
}

.myBar {
    width: 10%;
    height: 5px;
    background-color: #FB0;
}
.myBar1 {
    width: 100%;
    height: 5px;
    background-color: #FB0;
}
@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 480px) {
}
@media only screen and (orientation : landscape) {
    .mainPageContainer{
        height: 100%;
        /* position: fixed; */
    }
    .instructionContainer{
        background-color: #f5f5f5; 
        overflow: auto;
		height: 100%;
    }
    .landscapeImage{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .mainInstructionContainer{
        height: 80%; overflow: auto;
    }
    .imageDescriptionHeader{
        color: #444444;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
    }
    .mainInstructionContainer span{
        color: #999999;
        font-size: 12px;
        font-weight: 400;
    }
    .landscapeButton{
        display: flex
    }
}
li:before {
    color: #000 !important;
}
.instructionHeader{
    background-color: #f5f5f5;
    height: 20%;
}
.instructionHeaderContent{
    color: #444444;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    padding: 25px 36px 30px 25px;
}
.permissionBlock{
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    padding: 15px;
	border-radius: 2px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.10000000149011612);
}
.instructionBody{
    padding: 2rem;
    height: 80%;
    display: flex;
    flex-direction: column;
}
.instructionBodyContent{
    flex: 1;
}
.successContainer{
    height: 100%; 
    display: flex;
    flex-direction: column;
}
.successContainerContent{
    padding: 200px 0px 0px 25px; 
    flex: 1;
}
.successContainerContent h4 {
    color: #444444;
	font-size: 25px;
	font-weight: 800;
	line-height: 24px;
}
.successContainerContent p {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}
.customButton{
    color: #000000;
    font-size: 14px;
    font-weight: 800;
    line-height: 21px;
    text-align: center;
    height: 50px;
    border-radius: 4px;
    flex: 1;
}
.portraitViewPage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    text-align: center;
}
.customLoader {
    position: fixed;
    z-index: 1055;
    height: 0%;
    width: 8%;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.customLoader:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.modalContent{
    position: fixed;
    bottom: 0px;
    width: 100% !important;
    max-width: 100% !important;
    padding: 0px;
  }
  .borderBottom{
    border-bottom: 2px solid #dddddd;
  }
  .modalText{
    padding: 20px;
    color: #444444;
    font-size: 14px;
    font-weight: 400;
  }
  input[type="radio"] {
    display: none;
  }

  .customRadio {
    padding: 10px 20px;
    border: 1px solid #DDDdDD;
    border-radius: 4px;
    margin: 5px;
    display: inline-block;
    width: 45%;
    text-align: center;
  }

  input[type="radio"]:checked+label {
    background-color: #FB0;
    cursor: default;
    color: #000;
  }
  .imageCaptureDiv{
    height: 55%; 
    background-color: #f5f5f5;
    padding: 10px; 
    overflow: auto;
  }
  .captureText{
    color: #fb0;
    font-size: 16px;
    font-weight: 700;
  }